.Board-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  margin-left: 10px;
}

.Board-column {
  display: flex;
  width: 100%;
  max-width: 200px;
  padding: 0 10px 0px 10px;
}

.Board-column > .Create-container {
  margin-top: 30px;
  height: 100%;
}